extends layout
include mixins
block body
  br
  nav(aria-label='breadcrumb')
    ol.breadcrumb.bg-light
      li.breadcrumb-item
        a(href='/') Home
  br
  #folder.mb-5()
    .mb-5.d-flex.justify-content-between
      div
        .dropdown
          button#dropdownMenuButton1.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Create
          ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
            li
              button.dropdown-item(type="button", hx-get="/new-folder", hx-target="#dropbox-list")
                +icon-new-folder()
                span.align-middle   Create Folder
            li
              button.dropdown-item(type="button", hx-get="/new-file", hx-target="#dropbox-list")
                +icon-new-file()
                span.align-middle   Create Document

      div
        #layout-switch.text-right()
          .btn-group(role='group' aria-label='Basic example')
            - var setActiveLayout = "on htmx:afterOnLoad remove .btn-primary from .btn-layout add .btn-outline-primary to .btn-layout remove .btn-outline-primary add .btn-primary"
            button.btn.btn-layout.btn-primary(
              type='button' 
              hx-get="/list-view" 
              hx-target="#dropbox-list"
              _=setActiveLayout)
              +icon-list()
            button.btn.btn-outline-primary.btn-layout(
              type='button' 
              hx-get="/grid-small" 
              hx-target="#dropbox-list"
              _=setActiveLayout)
              +icon-grid-small()
            button.btn.btn-outline-primary.btn-layout(
              type='button' 
              hx-get="/grid-view" 
              hx-target="#dropbox-list"
              _=setActiveLayout)
              +icon-grid()
    ul#dropbox-list.list.list-group
      include _list-view
